.image-carousel-section {
    padding: 60px 20px;
    background: #f6f8fc;
}

.carousel-container {
    max-width: 1200px;
    margin: auto;
}

/* Main Image */
.carousel-main {
    position: relative;
    max-height:max-content;
    max-width:520px;
    margin:auto;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}

.carousel-main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.4s ease;
}

/* Arrows */
.carousel-main .nav-btn {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    background: #00354227;
    color:#fff;
    border: none;
    font-size: 22px;
    width:30px;
    height:35px;
    cursor: pointer;
    border-radius: 50%;
    z-index:10;
}

.carousel-main .nav-btn.left { left: 15px; }
.carousel-main .nav-btn.right { right: 15px; }
.carousel-main .nav-btn.left span,.carousel-main .nav-btn.right span{
    position:relative;
    top:-7px;
    left:-5px;
}
.carousel-main .nav-btn:hover {
    background: #003542cc;
}

/* Thumbnails */
.carousel-thumbs-wrapper {
    overflow: hidden;
    margin-top: 20px;
}

.carousel-thumbs {
    display: flex;
    gap: 15px;
    user-select: none;
    margin:10px;
    justify-content:center;
}

.carousel-thumbs:active {
    cursor: grabbing;
}

.thumb {
    width: 100px;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.6;
    border: 3px solid transparent;
    transition: all 0.3s ease;
}

.thumb.active {
    opacity: 1;
    border-color: #1b75bc;
    transform: scale(1.05);
}

/* Responsive */
@media (max-width: 768px) {
    .carousel-main { height: max-content; }
    .carousel-thumbs{
        gap: 2%;
    }
    .thumb { width: 18%; height: max-content; }
}
